In [2]:
import pandas as pd
import glob

# I: Load the data

In [8]:
path = 'bike-rental-starter-kit/bike-rental-starter-kit/data/'
weather_data_df = pd.read_csv(path + 'newark_airport_2016.csv')
weather_data_df

         STATION                                         NAME        DATE  \
0    USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-01
1    USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-02
2    USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-03
3    USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-04
4    USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-05
..           ...                                          ...         ...
361  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-12-27
362  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-12-28
363  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-12-29
364  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-12-30
365  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-12-31

      AWND  PGTM  PRCP  SNOW  SNWD  TAVG  TMAX  TMIN  TSUN  WDF2   WDF5  WSF2  \
0    12.75   NaN  0.00   0.0   0.0    41    43    34   NaN   270  280.0  25.9
1     9.40   NaN  0.00   0.0   0.0    36    42    30   NaN   260  260.0  21.0
2    10.29   NaN  0.00   0.0   0.0    37    47    28   NaN   270  250.0  23.9
3    17.22   NaN  0.00   0.0   0.0    32    35    14   NaN   330  330.0  25.9
4     9.84   NaN  0.00   0.0   0.0    19    31    10   NaN   360  350.0  25.1
..     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...    ...   ...
361  13.65   NaN  0.01   0.0   0.0    53    62    40   NaN   270  270.0  29.1
362   8.28   NaN  0.00   0.0   0.0    41    43    31   NaN   330  330.0  19.9
363   8.05   NaN  0.36   0.0   0.0    38    45    31   NaN   170  150.0  18.1
364  14.99   NaN  0.00   0.0   0.0    37    42    32   NaN   270  270.0  25.9
365  12.30   NaN  0.00   0.0   0.0    35    44    29   NaN   200  220.0  21.9

     WSF5
0    35.1
1    25.1
2    30.0
3    33.1
4    31.1
..    ...
361  38.0
362  25.1
363  25.1
364  33.1
365  28.0

[366 rows x 16 columns]

In [7]:
files = glob.glob(path + "*citibike-tripdata.csv")

df_list = []
for f in (files):
    df = pd.read_csv(f)
    df_list.append(df)

citibikes_df = pd.concat(df_list)

citibikes_df.head(5)

   Trip Duration           Start Time            Stop Time  Start Station ID  \
0            362  2016-01-01 00:02:52  2016-01-01 00:08:54              3186
1            200  2016-01-01 00:18:22  2016-01-01 00:21:42              3186
2            202  2016-01-01 00:18:25  2016-01-01 00:21:47              3186
3            248  2016-01-01 00:23:13  2016-01-01 00:27:21              3209
4            903  2016-01-01 01:03:20  2016-01-01 01:18:24              3195

  Start Station Name  Start Station Latitude  Start Station Longitude  \
0      Grove St PATH               40.719586               -74.043117
1      Grove St PATH               40.719586               -74.043117
2      Grove St PATH               40.719586               -74.043117
3       Brunswick St               40.724176               -74.050656
4            Sip Ave               40.730743               -74.063784

   End Station ID End Station Name  End Station Latitude  \
0            3209     Brunswick St             40.724176
1            3213   Van Vorst Park             40.718489
2            3213   Van Vorst Park             40.718489
3            3203    Hamilton Park             40.727596
4            3210   Pershing Field             40.742677

   End Station Longitude  Bike ID   User Type  Birth Year  Gender
0             -74.050656    24647  Subscriber      1964.0       2
1             -74.047727    24605  Subscriber      1962.0       1
2             -74.047727    24689  Subscriber      1962.0       2
3             -74.044247    24693  Subscriber      1984.0       1
4             -74.051789    24573    Customer         NaN       0

# II) Diagnose data

In [57]:
print(weather_data_df.columns)
print(weather_data_df.info())
print(weather_data_df.head(10))
print(len(weather_data_df))
print(weather_data_df[weather_data_df.duplicated()])
# weather_data_df.isna()
print(weather_data_df[weather_data_df['WSF5'].isna()])
print(weather_data_df[weather_data_df['WDF5'].isna()])
# .isna().sum()

# Comment:
    # The column name and data type is oke. 
    # PGTM and TSUN columns is all missing value. It need dop them. 
    # WSF5 and WDF5 columns have several missing value. It is MCAR. So we can drop it in some cases. 
    # There is no duplicated observation here.

Empty DataFrame
Columns: [STATION, NAME, DATE, AWND, PGTM, PRCP, SNOW, SNWD, TAVG, TMAX, TMIN, TSUN, WDF2, WDF5, WSF2, WSF5]
Index: []

In [95]:
print(citibikes_df.columns)
print(citibikes_df.info())
print(citibikes_df.head(10))
print(len(citibikes_df))
# .isna().sum()

# Comment:
    # Column name is oke. 
    # The User Type and Birth Year columns have missing values. 
    # The data type of the year column is not true. 
    # There is no duplicated observation here.

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
Int64Index: 247584 entries, 0 to 15113
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Trip Duration            247584 non-null  int64
 1   Start Time               247584 non-null  object
 2   Stop Time                247584 non-null  object
 3   Start Station ID         247584 non-null  int64
 4   Start Station Name       247584 non-null  object
 5   Start Station Latitude   247584 non-null  float64
 6   Start Station Longitude  247584 non-null  float64
 7   End Station ID           247584 non-null  int64
 8   End Station Name         247584 non-null  object
 9   End Station Latitude     247584 non-null  float64
 10  End Station Longitude    247584 non-null  float64
 11  Bike ID                  247584 non-null  int64
 12  User Type                247204 non-null  object
 13  Birth Year               228585 non-null  Int64
 14  Gender                   247584 non-null  int64
dtypes: Int64(1), float64(4), int64(5), object(5)
memory usage: 30.5+ MB
None
   Trip Duration           Start Time            Stop Time  Start Station ID  \
0            362  2016-01-01 00:02:52  2016-01-01 00:08:54              3186
1            200  2016-01-01 00:18:22  2016-01-01 00:21:42              3186
2            202  2016-01-01 00:18:25  2016-01-01 00:21:47              3186
3            248  2016-01-01 00:23:13  2016-01-01 00:27:21              3209
4            903  2016-01-01 01:03:20  2016-01-01 01:18:24              3195
5            883  2016-01-01 01:03:28  2016-01-01 01:18:11              3195
6            445  2016-01-01 01:07:45  2016-01-01 01:15:11              3186
7            192  2016-01-01 01:18:51  2016-01-01 01:22:03              3211
8            409  2016-01-01 01:23:44  2016-01-01 01:30:34              3187
9            285  2016-01-01 01:25:12  2016-01-01 01:29:57              3187

  Start Station Name  Start Station Latitude  Start Station Longitude  \
0      Grove St PATH               40.719586               -74.043117
1      Grove St PATH               40.719586               -74.043117
2      Grove St PATH               40.719586               -74.043117
3       Brunswick St               40.724176               -74.050656
4            Sip Ave               40.730743               -74.063784
5            Sip Ave               40.730743               -74.063784
6      Grove St PATH               40.719586               -74.043117
7         Newark Ave               40.721525               -74.046305
8          Warren St               40.721124               -74.038051
9          Warren St               40.721124               -74.038051

   End Station ID  End Station Name  End Station Latitude  \
0            3209      Brunswick St             40.724176
1            3213    Van Vorst Park             40.718489
2            3213    Van Vorst Park             40.718489
3            3203     Hamilton Park             40.727596
4            3210    Pershing Field             40.742677
5            3210    Pershing Field             40.742677
6            3203     Hamilton Park             40.727596
7            3203     Hamilton Park             40.727596
8            3214  Essex Light Rail             40.712774
9            3214  Essex Light Rail             40.712774

   End Station Longitude  Bike ID   User Type  Birth Year  Gender
0             -74.050656    24647  Subscriber        1964       2
1             -74.047727    24605  Subscriber        1962       1
2             -74.047727    24689  Subscriber        1962       2
3             -74.044247    24693  Subscriber        1984       1
4             -74.051789    24573    Customer        <NA>       0
5             -74.051789    24442    Customer        <NA>       0
6             -74.044247    24510  Subscriber        1988       2
7             -74.044247    24625  Subscriber        1980       1
8             -74.036486    24429  Subscriber        1990       1
9             -74.036486    24407  Subscriber        1988       2
247584
       Trip Duration           Start Time            Stop Time  \
4                903  2016-01-01 01:03:20  2016-01-01 01:18:24
5                883  2016-01-01 01:03:28  2016-01-01 01:18:11
22               988  2016-01-01 03:16:33  2016-01-01 03:33:02
53              3090  2016-01-01 11:07:15  2016-01-01 11:58:46
57               788  2016-01-01 11:50:30  2016-01-01 12:03:39
...              ...                  ...                  ...
14972           2484  2016-12-31 14:35:19  2016-12-31 15:16:44
14973          79669  2016-12-31 14:35:25  2017-01-01 12:43:14
15067            224  2016-12-31 18:01:38  2016-12-31 18:05:23
15091            440  2016-12-31 20:12:26  2016-12-31 20:19:47
15110           2749  2016-12-31 23:29:39  2017-01-01 00:15:29

       Start Station ID Start Station Name  Start Station Latitude  \
4                  3195            Sip Ave               40.730743
5                  3195            Sip Ave               40.730743
22                 3196     Riverview Park               40.744319
53                 3203      Hamilton Park               40.727596
57                 3210     Pershing Field               40.742677
...                 ...                ...                     ...
14972              3275     Columbus Drive               40.718355
14973              3275     Columbus Drive               40.718355
15067              3194    McGinley Square               40.725340
15091              3195            Sip Ave               40.730743
15110              3183     Exchange Place               40.716247

       Start Station Longitude  End Station ID End Station Name  \
4                   -74.063784            3210   Pershing Field
5                   -74.063784            3210   Pershing Field
22                  -74.043991            3209     Brunswick St
53                  -74.044247            3203    Hamilton Park
57                  -74.051789            3195          Sip Ave
...                        ...             ...              ...
14972               -74.038914            3199     Newport Pkwy
14973               -74.038914            3199     Newport Pkwy
15067               -74.067622            3195          Sip Ave
15091               -74.063784            3193     Lincoln Park
15110               -74.033459            3183   Exchange Place

       End Station Latitude  End Station Longitude  Bike ID   User Type  \
4                 40.742677             -74.051789    24573    Customer
5                 40.742677             -74.051789    24442    Customer
22                40.724176             -74.050656    24662    Customer
53                40.727596             -74.044247    24444    Customer
57                40.730743             -74.063784    24573    Customer
...                     ...                    ...      ...         ...
14972             40.728745             -74.032108    24627    Customer
14973             40.728745             -74.032108    26217    Customer
15067             40.730743             -74.063784    24716  Subscriber
15091             40.724605             -74.078406    24417  Subscriber
15110             40.716247             -74.033459    24389    Customer

       Birth Year  Gender
4            <NA>       0
5            <NA>       0
22           <NA>       0
53           <NA>       0
57           <NA>       0
...           ...     ...
14972        <NA>       0
14973        <NA>       0
15067        <NA>       0
15091        <NA>       0
15110        <NA>       0

[18999 rows x 15 columns]


# III) Cleaning data.

In [100]:
# It not true. Because it assigned a new series of different length to the dataframe. 
# citibikes_df['Birth Year'] = citibikes_df[citibikes_df['Birth Year'].notna()]['Birth Year'].astype(int)
# citibikes_df['Birth Year'] = citibikes_df['Birth Year'].apply(lambda x: int(x) if not pd.isna(x) else x)

citibikes_df['Birth Year'] = citibikes_df['Birth Year'].astype('Int64')

       Trip Duration  Start Station ID  Start Station Latitude  \
count   2.475840e+05     247584.000000           247584.000000
mean    8.856305e+02       3207.065206               40.723121
std     3.593798e+04         26.955103                0.008199
min     6.100000e+01       3183.000000               40.692640
25%     2.480000e+02       3186.000000               40.717732
50%     3.900000e+02       3201.000000               40.721525
75%     6.660000e+02       3211.000000               40.727596
max     1.632981e+07       3426.000000               40.752559

       Start Station Longitude  End Station ID  End Station Latitude  \
count            247584.000000   247584.000000         247584.000000
mean                -74.046438     3203.572553             40.722594
std                   0.011211       61.579494              0.007958
min                 -74.096937      147.000000             40.692216
25%                 -74.050656     3186.000000             40.716540
50%                 -74.044247     3199.000000             40.721124
75%                 -74.038051     3211.000000             40.727224
max                 -74.032108     3426.000000             40.801343

       End Station Longitude        Bike ID   Birth Year         Gender
count          247584.000000  247584.000000     228585.0  247584.000000
mean              -74.045855   24935.260481  1979.335276       1.123534
std                 0.011283     748.469712     9.596809       0.518687
min               -74.096937   14552.000000       1900.0       0.000000
25%               -74.050444   24491.000000       1974.0       1.000000
50%               -74.043117   24609.000000       1981.0       1.000000
75%               -74.036486   24719.000000       1986.0       1.000000
max               -73.957390   27274.000000       2000.0       2.000000
       Trip Duration  Start Station ID  Start Station Latitude  \
count   1.899900e+04      18999.000000            18999.000000
mean    2.597936e+03       3205.411916               40.721057
std     1.960592e+04         26.244003                0.008493
min     6.100000e+01       3183.000000               40.692640
25%     4.990000e+02       3186.000000               40.714402
50%     9.770000e+02       3199.000000               40.719586
75%     1.657000e+03       3210.000000               40.727224
max     1.569765e+06       3281.000000               40.752559

       Start Station Longitude  End Station ID  End Station Latitude  \
count             18999.000000    18999.000000          18999.000000
mean                -74.044297     3199.643981             40.720935
std                   0.011415      111.897719              0.008395
min                 -74.096937      147.000000             40.692640
25%                 -74.049638     3186.000000             40.714584
50%                 -74.043117     3199.000000             40.719586
75%                 -74.033759     3209.000000             40.727224
max                 -74.032108     3281.000000             40.787209

       End Station Longitude       Bike ID  Birth Year   Gender
count           18999.000000  18999.000000         0.0  18999.0
mean              -74.043864  24891.323122        <NA>      0.0
std                 0.011453    728.157169        <NA>      0.0
min               -74.096937  14717.000000        <NA>      0.0
25%               -74.049638  24484.000000        <NA>      0.0
50%               -74.043117  24600.000000        <NA>      0.0
75%               -74.033759  24705.000000        <NA>      0.0
max               -73.981281  26954.000000        <NA>      0.0

In [105]:
weather_data_df.drop(['TSUN','PGTM'], axis=1, inplace=True)

# Data transform

In [124]:
# print(citibikes_df.head(10))
start_t = citibikes_df['Start Time'].str.split(' ', expand=True)
stop_t = citibikes_df['Stop Time'].str.split(' ', expand=True)

assigned_data = {
    'Start Date': start_t[0],
    'Start Time': start_t[1],
    'Stop Date':  stop_t[0],
    'Stop Time' : stop_t[1],
}

citibikes_df.assign(**assigned_data)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Start Date,Stop Date
0,362,00:02:52,00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964,2,2016-01-01,2016-01-01
1,200,00:18:22,00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962,1,2016-01-01,2016-01-01
2,202,00:18:25,00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962,2,2016-01-01,2016-01-01
3,248,00:23:13,00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984,1,2016-01-01,2016-01-01
4,903,01:03:20,01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,<NA>,0,2016-01-01,2016-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15109,557,23:10:16,23:19:33,3214,Essex Light Rail,40.712774,-74.036486,3203,Hamilton Park,40.727596,-74.044247,24465,Subscriber,1981,2,2016-12-31,2016-12-31
15110,2749,23:29:39,00:15:29,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24389,Customer,<NA>,0,2016-12-31,2017-01-01
15111,173,23:44:37,23:47:31,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24641,Subscriber,1978,1,2016-12-31,2016-12-31
15112,2424,23:44:50,00:25:14,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,26219,Subscriber,1960,2,2016-12-31,2017-01-01
15113,2419,23:44:50,00:25:10,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,24471,Subscriber,1956,1,2016-12-31,2017-01-01